[submodule "src/styles/shared"]
	path = src/styles/shared
	url = git@github.com:CitizenScienceCenter/shared-styles.git
[submodule "src/components/shared"]
	path = src/components/shared
	url = git@github.com:CitizenScienceCenter/shared-components.git
[submodule "src/assets/shared"]
	path = src/assets/shared
	url = git@github.com:CitizenScienceCenter/shared-assets.git
[submodule "src/views/shared"]
	path = src/views/shared
	url = git@github.com:CitizenScienceCenter/shared-views.git
[submodule "shared-components"]
	path = shared-components
	url = https://github.com/citizensciencecenter/shared-components
[submodule "shared-views"]
	path = shared-views
	url = https://github.com/citizensciencecenter/shared-views
[submodule "shared-styles"]
	path = shared-styles
	url = https://github.com/citizensciencecenter/shared-styles
