@import 'reset.css';
@import 'variables.scss';

/* Globals */

html {
  font-size: 18px;
  @media only screen and (min-width: $viewport-mobile-large) {
    font-size: 20px;
  }

  body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.5;
    color: $color-black;
  }
}

/* Typography */

header {
  .navigation a {
    span {
      font-size: 0.8rem;
    }
  }
  .language-select select {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: $viewport-mobile-large) {

}


/* Elements */

.custom-select {

  display: inline-block;
  position: relative;
  height: 40px;
  border: 1px solid white;

  select {
    height: 100%;
    appearance: none;
    background: transparent;
    border: none;
    text-transform: uppercase;
    padding-left: 12px;
    padding-right: 32px;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }
  svg {
    position: absolute;
    top: 13px;
    right: 10px;
    height: 12px;
    fill: $color-black;
  }

  &:hover {
    border: 1px solid $color-black-tint-90;

    select {
      color: $color-primary;
    }
    svg {
      fill: $color-primary;
    }
  }
}
