/* Viewports */

$viewport-mobile: 320px;
$viewport-mobile-large: 360px;
$viewport-tablet-portrait: 760px;
$viewport-large: 1020px;
$viewport-xlarge: 1260px;
$viewport-xxlarge: 1420px;


/* Colors */

$color-primary: #c5202e;
$color-primary-dark: #9E1A25;
$color-secondary: #16496b;
$color-text: #231f20;

/* Border Radius */

$border-radius: 4px;
