/* Viewports */

$viewport-mobile: 320px;
$viewport-mobile-large: 360px;
$viewport-tablet-portrait: 640px;
$viewport-large: 1020px;
$viewport-xlarge: 1260px;
$viewport-xxlarge: 1420px;


/* Easing */

$transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-duration-long: 300ms;
$transition-duration-short: 150ms;

$transition-duration-super-long: 900ms;
$transition-delay-1: 100ms;
$transition-delay-2: 200ms;
$transition-delay-3: 300ms;
$scroll-effect-offset: 80px;


/* Colors */

$color-primary: #c5202e;
$color-secondary: #16496b;
$color-black: #231f20;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$color-primary-shade-20: shade( $color-primary, 20% );
$color-primary-shade-20: shade( $color-primary, 20% );
$color-primary-tint-50: tint( $color-primary, 50% );

$color-secondary-shade-20: shade( $color-secondary, 20% );
$color-secondary-tint-95: tint( $color-secondary, 95% );
$color-secondary-tint-90: tint( $color-secondary, 90% );
$color-secondary-tint-80: tint( $color-secondary, 80% );

$color-black-tint-97: tint($color-black, 97%);
$color-black-tint-90: tint($color-black, 90%);
$color-black-tint-50: tint($color-black, 50% );
$color-black-tint-20: tint($color-black, 20%);
$color-black-tint-10: tint($color-black, 10%);

$color-primary-secondary-mix: mix( $color-primary, $color-secondary, 66.667%);
$color-primary-secondary-mix-tint-95: tint( $color-primary-secondary-mix, 95% );
$color-primary-secondary-mix-tint-90: tint( $color-primary-secondary-mix, 90% );
$color-primary-secondary-mix-tint-80: tint( $color-primary-secondary-mix, 80% );

/* Border Radius */

$border-radius: 6px;

/* Typography */

$font-family: 'PT Sans', sans-serif;

$font-scale: 1.25;

@function pow($number, $exponent) {
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}

$font-size-small: 1rem / $font-scale;
$font-size-normal: 1rem;
$font-size-medium: 1rem * $font-scale;
$font-size-large: 1rem * pow($font-scale,2);
$font-size-xlarge: 1rem * pow($font-scale,3);
$font-size-xxlarge: 1rem * pow($font-scale,4);
$font-size-xxxlarge: 1rem * pow($font-scale,5);


/* Spacings */

$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 48px;
$spacing-6: 72px;
$spacing-7: 96px;
$spacing-8: 112px;

/* Grid */

$grid-margin-mobile: $spacing-2;
$grid-gutter-mobile: $spacing-2;
$grid-margin-mobile-large: $spacing-2;
$grid-gutter-mobile-large: $spacing-4;
$grid-margin-tablet-portrait: $spacing-7;
$grid-gutter-tablet-portrait: $spacing-5;
$grid-margin-large: $spacing-5;
$grid-gutter-large: $spacing-5;
$grid-margin-xlarge: $spacing-5;
$grid-gutter-xlarge: $spacing-5;
